<div class="uk-container uk-margin">
    <h1>Editar Tema</h1>

    <%= render 'form', topic: @topic %>

    <% if is_admin(current_user) %>
        <%= link_to 'Show', course_topic_path(@topic) %> |
        <%= link_to 'Back', course_topics_path %>
    <% end %>
</div>
