<% title "certificado" %>

<style>
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");

.uk-text-primary {
	color: #3c96f0;
}

.uk-text-warning {
	color: #faa05a;
}

.uk-text-center {
	text-align: center;
}

.logo-font {
  font-family: "Cabin Sketch", cursive;
}

.certificate-container {
	width: 1000px;
	height: 600px;
	
	padding: 10px;
	padding-left: 70px;
	
	background-color: #fdfdfd;
	border: 1px solid #ddd;
	border-radius: 5px;
	color: #444555;
	
	display: inline-block;
	margin: 0;
}

.sign {
	width: 200px;
	
	margin-top: 8em;
}

h1 {
	font-size: 80px;
}

h2 {
	margin: 0;
	font-size: 40px;
}

h3 {
	margin: 0;
	font-size: 30px;
}



</style>

<div class="certificate-container">
	<h1 class="logo-font uk-text-center">
		Certificado <span class="uk-text-primary">ABC</span
	><span class="uk-text-warning">ODE</span></h1>
	<p>El siguiente certifica que</p>
	<h2><%= @user.name %></h2>
	<p>Ha completado de forma correcta el curso de</p>
	<h3><%= @course.name %></h3>
	
	<hr class="sign">
	<p class="uk-text-center"><b>Luis Fernando Contreras Guerra</b></p>
	
</div>
