<% if !notice.nil? %>
  <div class="uk-alert-success" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p><%= notice %></p>
  </div>
<% end %>

<div class="uk-container">
  <h1 class="uk-text-center"><%= @lesson.name %></h1>

  <p>
    <%= @lesson.content.html_safe %>
  </p>

</div>

<% if is_admin(current_user) %>
  <%= link_to 'Edit', edit_course_topic_lesson_path(@lesson) %> |
<% end %>
