<div class="certificate-container">
	<h1 class="logo-font uk-text-center">
		Certificado <span class="uk-text-primary">ABC</span
	><span class="uk-text-warning">ODE</span></h1>
	<p>El siguiente certifica que</p>
	<h2>Luis Fernando Contreras Guerra</h2>
	<p>Ha completado de forma correcta el curso de</p>
	<h3>C++ para principiantes</h3>
	
	<hr class="sign">
	<p class="uk-text-center"><b>Luis Fernando Contreras Guerra</b></p>	
</div>
