<p id="notice"><%= notice %></p>

<h1 class="uk-text-center">Courses</h1>

<div class="uk-text-center uk-child-width-expand" uk-grid>
    <% @courses.each do |course| %>
        <div class="uk-card uk-card-default uk-card-body">
            <h2><%= link_to course.name, course %></h2>
        </div>
    <% end %>
</div>
