<% if !notice.nil? %>   <div class="uk-alert-success" uk-alert>     <a class="uk-alert-close" uk-close></a>     <p><%= notice %></p>   </div> <% end %>

<h1 class="uk-text-center">Courses</h1>

<div class="uk-text-center uk-child-width-expand" uk-grid>
    <% @courses.each do |course| %>
        <div class="uk-card uk-card-default uk-card-body">
            <h2><%= link_to course.name, course %></h2>
        </div>
    <% end %>
</div>
