<div class="uk-background-blend-soft-light uk-background-primary uk-flex uk-flex-center uk-height-medium uk-width-expand" style="background-image: url('http://localhost:3000/assets/background-courses-mine-11a7bd55bf08df76e76a1df63560ac1e2f4df5b15b98278b0f0cad284caebdb7.jpg')">
  <div class="uk-container uk-margin uk-padding uk-text-center">
    <h1 class="uk-text-bold text-white uk-margin-remove-bottom uk-margin-top">Mis cursos</h1>
    <h2 class="text-white uk-margin-remove-top">Lleva el contról de los cursos que has tomado</h2>
  </div>
</div>

<div class="uk-container uk-margin">
    <h2 class="uk-text-center">Mira el progreso de los cursos que has tomado</h2>

    <ul class="uk-list">
        <% @courses_user.each do |course_user| %>
            <li class="uk-card uk-card-default uk-card-body uk-margin">
                <%= link_to "#{course_user.course.name} #{percentage(course_user.course.id)}%",
                    play_course_path(course_user.course.id), class: "uk-heading-small" %>
                <progress class="uk-progress" value="<%= percentage(course_user.course.id) %>" max="100"></progress>
            </li>
        <% end %>

        <% if @courses_user.length == 0 %>
          <h3 class="uk-text-center">Aún no te has registrado en ningún curso</h3>
        <% end %>
    </ul>
</div>
