<div class="uk-container uk-margin">
    <h1 class="uk-text-center">Mis cursos</h1>

    <ul class="uk-list uk-list-divider">
        <% @courses_user.each do |course_user| %>
            <li>
                <h2><%= course_user.course.name %> <%= percentage(course_user.course.id)%>%</h2>
                <progress class="uk-progress" value="<%= percentage(course_user.course.id) %>" max="100"></progress>
            </li>
        <% end %>
    </ul>
</div>
